.wrapper {
  max-width: 2560px;
  width: 90%;
  margin: 0 auto;
  min-height: 95vh;
}
fieldset {
  border: none;
}
input,
select,
textarea {
  border-radius: 10px 10px 10px 10px;
}
input[type="checkbox"] {
  appearance: none;
  background-color: $background;
  margin: 0;
  font: inherit;
  color: $text;
  height: 1em;
  width: 1em;
  border: 0.15em solid $text;
  border-radius: 0.15em;
}
button {
  font-family: $font;
  font-weight: medium;
  padding: 10px;
  border-radius: 30px;
  background-color: $buttonBg;
  min-width: 150px;
}
a {
  font-size: 2rem;
  ::before {
    color: $text;
  }
  ::after {
    color: $tagline;
  }
}
