.home-wrapper {
  opacity: 0.3;
}
.cancel-msg {
  width: 660px;
  height: 240px;
  background-color: $popup;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  position: absolute;
  left: 390px;
  top: 347px;
  z-index: 10;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
