.main-container {
  display: flex;
  height: 70vh;
}

.text-box {
  width: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-box {
  width: 70%;
  img {
    width: 90%;
    height: auto;
  }
}

button {
  margin: 0 10px;
}
