.task-choices {
  display: flex;
  justify-content: space-between;
}
.each-task {
  width: 25%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  label img {
    width: 50%;
    height: auto;
  }
}
.button-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// !Media Queries

// !960px
.button-box {
  flex-direction: row;
}
// !780px
.button-box {
  width: 100%;
}
//! 420px
@media (max-width: 420px) {
  .button-box {
    flex-direction: column;
  }
  .task-choices {
    flex-direction: column;
  }
  .each-task {
    width: 100%;
    justify-content: space-between;
    label img {
      width: 100%;
    }
  }
}
