h2,
h3 {
  text-align: center;
}
form {
  padding: 0 200px;
  margin: 0 auto;
}
.name-field {
  display: flex;
  justify-content: space-between;
}

.task-dropdown,
.task-description,
.zip-code,
.email-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button-box {
  display: flex;
  justify-content: space-evenly;
}
