.result-box {
  width: 100%;
  min-height: 30vh;
  padding: 20px;
  background-color: $formDisplayBg;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 50px;
  h3 {
    text-align: left;
  }
  img {
    height: 30vh;
    width: auto;
  }
}
.result-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    margin-bottom: 20px;
  }
}
// !Media Queries
// !780px
@media (max-width: 780px) {
  .result-box {
    flex-direction: column;
    img {
      width: 90%;
    }
  }
}

// !420px
