.request-wrapper {
  opacity: 0.3;
}

.cancel-msg {
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 10;
  opacity: 1;
  .cancel-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 240px;
    background-color: $popup;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
  }
}
