// !TYPOGRAPHY
// *REM
body {
  font-size: 20px;
  background-color: $background;
  font-family: $font;
}

h1 {
  color: $tagline;
  font-size: 32px;
  font-weight: medium;
}

h2,
h3 {
  color: $text;
  font-size: 1.1rem;
  font-weight: medium;
}

h3 {
  color: $tagline;
}
